<div class="col-10 offset-1 col-sm-8 offset-sm-2">
  <% @grams.each_with_index do |gram, i| %>
    <div class="gram">
      <div class="handle"><%= gram.user.email %></div>
      <div class="text-center">
        <% if gram.picture.url.present? %>
          <%= image_tag gram.picture.url, class: 'img-fluid' %>
        <% end %>
      </div>
      <p><%= gram.message %></p>

      <div class="gram-actions float-right">
        <% if current_user && current_user == gram.user %>
          <%= link_to 'Edit', edit_gram_path(gram) %>
          <%= link_to 'Delete', gram_path(gram), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>

      <br class="clear-fix"/>
      <hr/>

      <div class="comments">
        <h3>Comments</h3>

        <% gram.comments.each do |comment| %>
          <div class="comment">
            <span class="comment-handle ml-1">
              <%= comment.user.email %>
            </span>
            <br/>
            <span class="ml-2">
              <%= comment.message %>
            </span>
          </div>
        <% end %>

        <h3 class="badge badge-secondary mt-4">Add a comment</h3>
        <div class="comment-form" data-state="hidden">
          <%= simple_form_for Comment.new, url: gram_comments_path(gram) do |f| %>
            <%= f.input :message %>
            <%= f.submit 'Add Comment', class: 'btn my-btn w-100' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
