<!DOCTYPE html>
<html>
  <head>
    <title>Grammable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700" type='text/css'>
  </head>

  <body>
    <div class="top-nav">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2">
        <div class="brand float-left">
          Grammable
        </div>
        <div class="add float-right">
          <% if current_user %>
            @<%= current_user.email %>
            <%= link_to 'New Post', new_gram_path %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path %>
            <%= link_to 'Sign Up', new_user_registration_path %>
          <% end %>
        </div>
      </div>
      <br class="clear-fix"/>
    </div>

    <% if notice.present? || alert.present? %>
      <div class="notice-box">
        <% if notice.present? %>
          <div class="alert alert-secondary col-6 offset-3"><%= notice %></div>
        <% elsif alert.present? %>
          <div class="alert alert-warning col-6 offset-3"><%= alert %></div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
